.chat{
    padding: 20px;

    .composer{
        position: fixed;
        bottom: 0px;
        width: calc(100% - 10px)
    }

    .my-message{
        text-align: right;
        color: blue;
    }

    .system-message{
        text-align: center;
    }

    .avatar, .timestamp{
        font-size: x-small;
    }

    .fail{
        color: red;
    }

    .success{
        color: green;
    }
}
