<html ng-app="app" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/autobahn-js-built/autobahn.min.js"></script>
    <script src="vendor/angular-wamp/angular-wamp.min.js"></script>
    <script src="vendor/metaversejs/metaverse.js"></script>
    <script src="js/app.min.js"></script>
    <script src="https://api.myetpwallet.com/lightwallet.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/chat.min.css">
</head>

<body>
    <div ng-controller="ChatCtrl" class="chat">
        <div ng-repeat="m in messages track by $index" class="message" id="message-list">
            <div ng-class="{'my-message': m.mine, 'system-message': m.system}">
                <div class="avatar" ng-class="{success: m.signature && m.check, fail: m.signature && !m.check}">{{m.avatar.symbol}}
                    <span ng-if="m.signature && m.check">&#10003;</span>
                    <span ng-if="m.signature && !m.check">&#10005</span>
                </div>
                {{m.text}}
                <div class="timestamp">{{m.time * 1000| date : 'shortTime'}}</div>
            </div>
            <hr>
        </div>
        <a id="end"></a>
        <div class="row">
            <div class="composer">
                <form>
                    <div class="input-group mb-3">
                        <input type="text" ng-model="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" ng-click="send(text)" ng-disabled="!connected||!text.length">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
